In [ ]:
#| hide
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# TEC Dune Dashboard

> Python wrapper around the TEC dune analytics dashboards

In [ ]:
#| default_exp tec

In [ ]:
#| export
import pandas as pd
import hvplot.pandas
import numpy as np
from conding.dune import DuneWrapper

In [ ]:
#| export
class TECDashboard(DuneWrapper):
    "Interface to the TEC Dune Analytics dashboard."

    def holders_distribution(self):
        df = self.refresh_into_dataframe(1898888)
        return df
    
    def holders_and_supply(self):
        df = self.refresh_into_dataframe(1898886)
        return df
    
    def holders_over_time(self):
        df = self.refresh_into_dataframe(1898887)
        return df
    
    def price_chart(self):
        df = self.refresh_into_dataframe(1898885)
        return df
    
    def abc_tributes(self):
        df = self.refresh_into_dataframe(1646841)
        return df

Initialize TEC Dashboard Client

In [ ]:
tec = TECDashboard()

In [ ]:
tec.holders_distribution()

,rank_number,address,balance,perc,cumulative_perc
0,1,"<a href=""https://blockscout.com/xdai/mainnet/a...",1.500717e+05,8.264853e-02,0.082649
1,2,"<a href=""https://blockscout.com/xdai/mainnet/a...",1.060533e+05,5.840639e-02,0.141055
2,3,"<a href=""https://blockscout.com/xdai/mainnet/a...",7.383866e+04,4.066494e-02,0.181720
3,4,"<a href=""https://blockscout.com/xdai/mainnet/a...",6.933751e+04,3.818603e-02,0.219906
4,5,"<a href=""https://blockscout.com/xdai/mainnet/a...",5.916598e+04,3.258430e-02,0.252490
...,...,...,...,...,...
540,541,"<a href=""https://blockscout.com/xdai/mainnet/a...",1.024000e-15,5.639443e-22,1.000000
541,542,"<a href=""https://blockscout.com/xdai/mainnet/a...",2.560000e-16,1.409861e-22,1.000000
542,543,"<a href=""https://blockscout.com/xdai/mainnet/a...",8.000000e-17,4.405815e-23,1.000000
543,544,"<a href=""https://blockscout.com/xdai/mainnet/a...",1.600000e-17,8.811630e-24,1.000000
544,545,"<a href=""https://blockscout.com/xdai/mainnet/a...",1.000000e-18,5.507269e-25,1.000000

In [ ]:
tec.holders_and_supply()

     total_holders        supply
0              542  1.815782e+06
1              542  1.815782e+06
2              542  1.815782e+06
3              542  1.815782e+06
4              542  1.815782e+06
..             ...           ...
537            542  1.815782e+06
538            542  1.815782e+06
539            542  1.815782e+06
540            542  1.815782e+06
541            542  1.815782e+06

[542 rows x 2 columns]

In [ ]:
tec.holders_over_time()

                     Date  Holders  Changes
0    2022-01-13T00:00:00Z        4        0
1    2022-01-14T00:00:00Z        4        0
2    2022-01-15T00:00:00Z        5        1
3    2022-01-16T00:00:00Z        5        0
4    2022-01-17T00:00:00Z        5        0
..                    ...      ...      ...
349  2022-12-28T00:00:00Z      529       -1
350  2022-12-29T00:00:00Z      529        0
351  2022-12-30T00:00:00Z      529        0
352  2022-12-31T00:00:00Z      529        0
353  2023-01-01T00:00:00Z      529        0

[354 rows x 3 columns]

In [ ]:
tec.price_chart()

,block_date,avg_mint_price,avg_burn_price,avg_mkt_price
0,2022-01-25T00:00:00Z,1.956345888613234,<nil>,2.3050899888800456
1,2022-01-26T00:00:00Z,2.893025644547676,<nil>,2.5920101807901506
2,2022-01-27T00:00:00Z,2.864333966225624,2.2216159017515933,2.5403510974065853
3,2022-01-28T00:00:00Z,2.8263603268647635,2.24996276540192,2.4776305971040147
4,2022-01-29T00:00:00Z,2.9437308337890533,<nil>,2.683241567655875
...,...,...,...,...
443,2023-04-14T00:00:00Z,0.6202724212949381,0.5619478206375653,0.5711961515326186
444,2023-04-15T00:00:00Z,0.6112574230310933,0.5790590405319433,0.57566023154377
445,2023-04-16T00:00:00Z,0.611212703214154,0.5864501254515719,0.5686697460379618
446,2023-04-17T00:00:00Z,0.6126107071626389,0.5963675087675443,<nil>
447,2023-04-18T00:00:00Z,0.6021366733782189,0.6021366733782189,0.5669076120616057

In [ ]:
tec.abc_tributes()

                    date action  sum(tribute)  tribute_total
0   2022-04-01T00:00:00Z    Buy     56.364000   95546.620837
1   2022-04-01T00:00:00Z   Sell    364.927505   95546.620837
2   2022-05-01T00:00:00Z    Buy    502.690920   95546.620837
3   2022-05-01T00:00:00Z   Sell  27525.756009   95546.620837
4   2022-06-01T00:00:00Z    Buy     18.424300   95546.620837
5   2022-06-01T00:00:00Z   Sell   9637.008165   95546.620837
6   2022-07-01T00:00:00Z    Buy     46.280000   95546.620837
7   2022-07-01T00:00:00Z   Sell    875.231330   95546.620837
8   2022-08-01T00:00:00Z    Buy     84.000440   95546.620837
9   2022-08-01T00:00:00Z   Sell   3578.698760   95546.620837
10  2022-09-01T00:00:00Z    Buy    440.034000   95546.620837
11  2022-09-01T00:00:00Z   Sell   6524.963118   95546.620837
12  2022-10-01T00:00:00Z    Buy      0.448273   95546.620837
13  2022-10-01T00:00:00Z   Sell   7265.726778   95546.620837
14  2022-11-01T00:00:00Z    Buy     42.080000   95546.620837
15  2022-11-01T00:00:00Z   Sell   7948.406669   95546.620837
16  2022-12-01T00:00:00Z    Buy      1.260000   95546.620837
17  2022-12-01T00:00:00Z   Sell   6767.473366   95546.620837
18  2023-01-01T00:00:00Z    Buy      0.310000   95546.620837
19  2023-01-01T00:00:00Z   Sell   3886.310413   95546.620837
20  2023-02-01T00:00:00Z    Buy      0.100000   95546.620837
21  2023-02-01T00:00:00Z   Sell   4413.471438   95546.620837
22  2023-03-01T00:00:00Z    Buy      3.100000   95546.620837
23  2023-03-01T00:00:00Z   Sell  13877.419531   95546.620837
24  2023-04-01T00:00:00Z    Buy    460.600000   95546.620837
25  2023-04-01T00:00:00Z   Sell   1225.535821   95546.620837

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()